body {
    background-color: powderblue;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333
}
header{
    text-align: center;
}
/* .container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

nav {
    display:flex;
    justify-content: space-between;
    padding: 1rem;
}
.center_box{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 300px;
} */